
 body{
    background-color: #f8f4ff;
    margin: 0;
    padding: 30px;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 70%;
    margin: auto;
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
}

.heading{
    font-family: "Playfair Display", serif;
    color: darkred;
    text-align: center;
    font-size: 40px;
}

.subheading{
    color: #444;
    text-align: center;
    font-style: italic;
}

.intro{
    font-size: 18px;
    color: #333;
    line-height: 1.7;
}

.content{
    color: #555;
    font-size: 17px;
    margin-top: 15px;
    line-height: 1.6;
}

.quote{
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: darkblue;
    background-color: #eef4ff;
    padding: 12px;
    border-left: 5px solid steelblue;
}